* {
	box-sizing: border-box;
	margin: 0;
}

main {
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(212, 45%, 89%);
}

.qr_box {
	width: 320px;
	padding: 16px;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: rgb(255, 255, 255);
}

.qr_content {
	margin: 24px 16px;
}

.text1 {
	font-family: 'OutfitB';
	font-size: 22px;
	margin-bottom: 16px;
}

.text2 {
	font-family: 'OutfitL';
	font-size: 16px;
	color: hsl(216, 15%, 48%);
}

img {
	border-radius: 16px;
	width: 100%;
}

/* fonts */

@font-face {
	font-family:'OutfitB';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Outfit-Bold.ttf') format('ttf');
}

@font-face {
	font-family:'OutfitL';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Outfit-Light.ttf') format('ttf');
}
